/* Main chart container */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Roboto:wght@400&display=swap');
body {
  font-family: 'Roboto', sans-serif; /* Use Roboto for the body */
}


/* Grid lines */
.dybar-grid-line {
  transition: all 0.3s ease-in-out;

}

/* Bars */
.dybar-bar {
  transition: height 0.5s ease-in-out;
  cursor: pointer;
  

}

.dybar-bar:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  
}



/* X and Y Axis labels */
.dybar-xlabel,
.dybar-ylabel {
  transition: all 0.3s ease-in-out;
  color: #333;
  
  padding: 2px 5px;
  border-radius: 3px;
}

/* X and Y Axis main labels */
.dybar-xaxis-main-label,
.dybar-yaxis-main-label {
  font-weight: bold;
  color: #020101;
  font-family: 'Roboto', sans-serif;
 
}

/* Tooltip */
.dybar-tooltipuf {
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  font-size: 0.85rem;
  white-space: nowrap;
}

/* Some general hover animations */
.dybar-chart:hover .dybar-grid-line {
  background-color: #180e0e;


 
}

.dybar-bar {
  transition: height 1s ease-out;
}

.initial-animation {
  height: 0 !important;
}


.titleandsvg{
  display: flex;
  flex-direction: column;
}
.dy-gauge-containerbarw{
  display: flex;
}

.tobarmain span{
  color:#d8dd2b;
}