/* DyGauge.css */
/* Main chart container */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Roboto:wght@400&display=swap');
body {
  font-family: 'Roboto', sans-serif; /* Use Roboto for the body */
}

/* Styling for the gauge title */
.dy-gauge-title {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  fill: #333;
  text-anchor: middle;

}

/* Styling for the gauge value texts (start, target, percentage) */
.dy-gauge-value {
  font-family: 'Arial', sans-serif;
  font-size: 25px;
  fill: #ffffff;
  text-anchor: middle;
 
}

/* Styling for the percentage text */
.dy-gauge-percentage {
  font-size: 44px;
  fill: rgb(255, 255, 255);
  text-anchor: middle;
}



/* Styling for the gauge paths */
.dy-gauge-path {
  fill: none;

}

/* Background path of the gauge */
.dy-gauge-background {
  stroke: #bcbfbf;
}

/* Foreground path of the gauge */
.dy-gauge-foreground {
  stroke: #2CAD00;
  cursor: pointer;
  stroke-dasharray: 1000; /* Large enough value to cover the path */
  stroke-dashoffset: 1000; /* Same as stroke-dasharray initially */
  animation: drawp 7s forwards; 

 
}
@keyframes drawp{
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fillGauge {
  from {
    stroke-dashoffset: fullLength; /* Replace with the actual length of the arc */
  }
  to {
    stroke-dashoffset: 0;
  }
}
.dy-gauge-foreground:hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  stroke: #036c25;
}



/* Style for the sum/target text */
.dy-gauge-sum {
  font-size: 24px;
  fill: rgb(130, 240, 150);
  text-anchor: middle;
}
.dy-gauge-container {
  position: relative;
  
}

/* ... (rest of your styles) */

.dy-gauge-tooltip {
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  font-size: 14px;
  border: 1px solid #ddd;
  transform: translate(-50%, -100%);
  white-space: nowrap;
  z-index: 100;
}
/* ... existing styles ... */

.dy-gauge-legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
  max-height: 200px; /* Adjust this value as needed */
  overflow-y: auto;
}


.legend-item-gaudd {
  display: flex;
  align-items: center;
  
}
.legend-text-gaudd{
  color: #ffffff;
  font-size: 16px;
}
.legend-color-gaudd {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid #151515;
}

.tooltip-color-pons {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid #ccc;
  vertical-align: middle;
 
}



.main-gaudd {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background-color:#1F1F1F ;

}
.titlegauge{
  color: #D8DD2B;
  font-size: 22px;
}


.main-gaudd > div:first-child {
  flex: 4; /* 4 times more space than the second div */
}

.main-gaudd > div:last-child {
  flex: 1; /* 1 fraction of the space */
}
