/* Main chart container */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Roboto:wght@400&display=swap');
body {
  font-family: 'Roboto', sans-serif; /* Use Roboto for the body */
  font-size: 16px;
}

.heatmap-container-soso {
  display: flex;
  flex-direction: column;
  align-items: center;
 

  border-radius: 10px;
  background-color: #ffffff;

padding: 40px;
padding-bottom: 130px;
margin-left: 100px;
margin-top: 5px;

}

.yaxis-heatos{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
 
}

.mainheat{
  display: flex;
  justify-content: center;
}
.cell-animationheat {
  animation: fadeIn 1.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.heatmap-title {
  margin-bottom: 40px;
  color: #333;
  font-size: 20px;
  
}
.xaxistable{
  display: flex;
}

.heatmap-grid {
  display: flex;
  flex-direction: column;
height: 100%;
}

.heatmap-row {
  display: flex;
  justify-content: center;
  align-items: center;
}


.heatmap-row2{
  display: flex;
  
  justify-content: flex-start;
  align-items: center;
}


.heatmap-tooltip {
  position: fixed; /* Changed from 'absolute' to 'fixed' */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  margin-left: 20px;
  border: 1px solid #fd9090;
  background-color:#1F1F1F;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  z-index: 100;

  font-size: 16px;
  color: #ffffff;
  border-radius: 10px;
  pointer-events: none; /* Prevents the tooltip from interfering with mouse events */
}



.heatmap-tooltip span{
  color: #D8DD2B;
  margin-right: 10px;
}