@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Roboto:wght@400&display=swap');

body {
  font-family: 'Roboto', sans-serif; /* Use Roboto for the body */
  margin: 0;
  padding: 0;
 
}


.select-container-linedate {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.select-container-linedate select {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6px;
  border: 1px solid #080707;
  border-radius: 4px;
  background-color: #edf6c7;
  font-size: 14px;
  cursor: pointer;
}


.chart-title-linedate {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}


.tooltip-linedate {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #ffffff;

  color: white;
  padding: 7px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1000;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.tooltip-linedate.show-tooltip-linedate {
  display: block;
  border-color: #ffffff;
}
.tooltip-linedate strong{
  color: yellow;

}


.container-linedate {
  width: 100%; 
border-radius: 5px;
  margin-left: auto; 
  margin-right: auto; 
  border: 1px solid black; 
  padding: 20px;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}


@media (max-width: 768px) {
  .container-linedate {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

