/* Main chart container */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Roboto:wght@400&display=swap');
body {
  font-family: 'Roboto', sans-serif; /* Use Roboto for the body */
  font-size: 16px;
}
.mySvgStyle {
  
  width: 100%; 
  height: 100%;
  border-radius: 5px;
}
.tooltip-linopd {
  position: absolute;
  left: 50px; /* example position */
  top: 50px; /* example position */
  display: flex; /* make it always visible for testing */
  
  justify-content: flex-start;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #000000;
  border-radius: 4px;
  pointer-events: none; /* Don't block mouse events */
  z-index: 1000;
  color: white;
  font-size: 16px;
}


