
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Roboto:wght@400&display=swap');
body {
  font-family: 'Roboto', sans-serif; /* Use Roboto for the body */
  font-size: 16px;
}
.dy-percentage-bar-container {
  font-family: Arial, sans-serif;
  margin: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  max-height: 100vh; /* Set the maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  background-color:#1F1F1F;
}

.dy-percentage-bar-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}


.bar-wrapper-perdc {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;

}

.bar-label-perfod {
  flex: 1; 
  font-size: 16px;
  font-weight: bold;
  color:#D8DD2B;
  padding-right: 10px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}


.bar-container-perfod {
  flex: 6; 
  display: flex;
  border: 1px solid transparent; 
  overflow: hidden;
  animation: growBorder 4s ease-out forwards; 
}

@keyframes growBorder {
  from { border-color: transparent; }
  to { border-color: #000000; }
}

.bar-label-perfod, .bar-container-perfod {
  display: flex;
  align-items: center; 
  
}

.bar-segment-perfod {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: rgb(0, 0, 0);
  font-size: 16px;
  overflow: hidden;
  font-weight: bold;
  animation: grow 2s ease-out forwards; 
}

@keyframes grow {
  from { width: 0; }
  to { width: 100%; }
}


.mainper{
  display: flex;
  justify-content: space-between;
}
.tooltip-perfod {
  position: fixed; 
  background-color: #1F1F1F;
  border: 1px solid #d8f615;
  padding: 10px;
  border-radius: 5px;
  transform: translate(-50%, -20px); 
  white-space: nowrap;
  pointer-events: none; 
  z-index: 100;
  color: #ddd;
}
.tooltip-perfod-label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #D8DD2B;
}
.legend-perfod {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 45px;
  padding-top: 10px;
}

.legend-perfod-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.legend-perfod-color {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}

.legend-perfod-label {
  font-size: 16px;
  color: white;
}
.chart-title-perfod {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #D8DD2B; 
  margin-top: 20px;
}
