
/* Main chart container */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Roboto:wght@400&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  }
  .chart-main-stackfod {
   
    transition: padding 0.5s ease-out;
  } 

  .chart-wrapper-stackfod {
    display: flex;
    flex-direction: column;
   
    position: relative;

  }
  .charttitletop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  

  

  
  .bars-container-stackfod {
    display: flex;

    transition: height 0.7s ease-out, width 0.7s ease-out;
  }
  

  .bar-stackfod {
    display: flex;
    flex-direction: column-reverse;
    position: relative; /* This is needed to position the stack total value */
  }
  .x-axis-stackfod {
    display: flex;
    justify-content: space-between;
 z-index: 100;
 
    
  }
  
  .x-label-stackfod {
    text-align: center;
  }
 



.stack-total-stackfod {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 14px; /* Adjust as needed */
  z-index: 3; /* Ensures the text is above the segments */
}

.bar-segment-stackfod {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative;
  color: #fff; 
  font-size: 0.75rem; /* Adjust the font size as needed */
  overflow: hidden; /* Prevents text from overflowing */
}

.segment-value-stackfod {
  z-index: 2; /* Ensure the text appears above the background */
}



.chartandyaxis{
  display: flex;

}
.tooltip-stackfod {
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -100%); /* Adjust if necessary */
  white-space: nowrap;
  pointer-events: none; /* Ignore pointer events */
  opacity: 0.9; /* Optional: make slightly transparent */
  font-size: 16px;
 
}
.color-square-stackup {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border: 1px solid #fff; /* optional border for visibility */
  vertical-align: middle;
}
.color-square-stackup strong{
  color: #D8DD2B;
}
.step-line-stackfod {
  height: 100px;
}

.step-label-stackfod {
  color: black;
 
}



.legend {
  padding: 10px;
  margin-left: 20px; /* Adjust space between chart and legend */
  z-index: 3;
 
  font-size: 14px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.legend-color {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #000; /* To make color squares visible */
}
.legend-label{
  font-size: 16px;
  
}
